.btn {
  &-icon {
    font-size: 1rem;
    padding: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    background-image: none;
    border: 0;
    border-radius: $border-circle;

    &:hover {
      background-color: $white;

      .bx {
        color: $primary;
      }
    }

    &.btn-notification {
      width: 40px;
      height: 40px;
      border: 1px solid $black-10;
      
      .bx {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 2px;
          right: 2px;
          width: 4px;
          height: 4px;
          border-radius: $border-circle;
          background-color: $primary;
        }
      }

    }
  }
}

.badge {
  text-transform: uppercase;
}

.col-form-label {
  padding: 0;
  font-size: 14px;
  color: $black-50;
  margin-bottom: 0;
}

.form-control-plaintext {
  @extend .col-form-label;
  color: $black70;
}

.form-select,
.form-control {
  &:focus {
    box-shadow: none;
  }
}

.sub-title {
  font-size: 18px;
  font-weight: $fw-semibold;
  color: $black-80;
  margin-bottom: 0;
}

.callout {
  font-size: 10px;
  font-weight: $fw-semibold;
  padding: 5px 10px;

  &-info {
    background-color: $light;
    color: $info-dark;
  }

  &-gray {
    background-color: $gray-light;
    color: $black70;
  }
}